remark_airflow/etl/yardi/xmlschemas/Itf_RevenueMgmtRawDataExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 (x64) (http://www.altova.com) by Rhonda Shaw (private) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 3 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="unittypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unittype" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="unittype">
		<xs:complexType>
			<xs:attribute name="unittype">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sqft" type="xs:integer"/>
			<xs:attribute name="numunits" type="xs:integer"/>
			<xs:attribute name="marketrent" type="xs:decimal"/>
			<xs:attribute name="description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="community">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bedrooms" type="xs:integer"/>
			<xs:attribute name="bathrooms" type="xs:decimal"/>
			<xs:attribute name="floorplan" type="xs:string"/>
			<xs:attribute name="floorplanbathrooms" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="unittransfers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unittransfer" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="unittransfer">
		<xs:complexType>
			<xs:attribute name="transferdate" type="xs:string"/>
			<xs:attribute name="tounitid" type="xs:string"/>
			<xs:attribute name="totenanantid" type="xs:string"/>
			<xs:attribute name="tostatus" type="xs:string"/>
			<xs:attribute name="fromunitid" type="xs:string"/>
			<xs:attribute name="fromtenantid" type="xs:string"/>
			<xs:attribute name="fromstatus" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="units">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="unit">
		<xs:complexType>
			<xs:attribute name="unittype">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unitid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unithmy" type="xs:string"/>
			<xs:attribute name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="availabledate" type="xs:string"/>
			<xs:attribute name="sqft" type="xs:int"/>
			<xs:attribute name="marketrent" type="xs:decimal"/>
			<xs:attribute name="description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="community">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bedrooms" type="xs:string"/>
			<xs:attribute name="bathrooms" type="xs:decimal"/>
			<xs:attribute name="amenities" type="xs:string"/>
			<xs:attribute name="address1" type="xs:string"/>
			<xs:attribute name="address2" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="leases" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="unitid" type="xs:string"/>
			<xs:attribute name="tenantstatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Applicant"/>
						<xs:enumeration value="Cancelled"/>
						<xs:enumeration value="Current"/>
						<xs:enumeration value="Denied"/>
						<xs:enumeration value="Eviction"/>
						<xs:enumeration value="Future"/>
						<xs:enumeration value="Notice"/>
						<xs:enumeration value="Past"/>
						<xs:enumeration value="Vacant"/>
						<xs:enumeration value="Waitlist"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tenantid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tenanthmyperson" type="xs:string"/>
			<xs:attribute name="rent" type="xs:decimal"/>
			<xs:attribute name="quotedconcession" type="xs:string"/>
			<xs:attribute name="prospectid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="personname">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noticedate" type="xs:string"/>
			<xs:attribute name="moveoutdate" type="xs:string"/>
			<xs:attribute name="moveindate" type="xs:string"/>
			<xs:attribute name="leaseto" type="xs:string"/>
			<xs:attribute name="leasefrom" type="xs:string"/>
			<xs:attribute name="canceldate" type="xs:string"/>
			<xs:attribute name="applicationdate" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenants">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tenant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="leases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lease" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lease">
		<xs:complexType>
			<xs:attribute name="startdate" type="xs:string"/>
			<xs:attribute name="quotedrent" type="xs:decimal"/>
			<xs:attribute name="leaseid" type="xs:string"/>
			<xs:attribute name="leaseterm" type="xs:integer"/>
			<xs:attribute name="leasetype">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
						<xs:enumeration value="R"/>
						<xs:enumeration value="M"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="leasescheduled" type="xs:string"/>
			<xs:attribute name="enddate" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="incomecodes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="incomecode" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="incomecode">
		<xs:complexType>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:short" use="required"/>
			<xs:attribute name="description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="code">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="guestcards">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="guestcard" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="guestcard">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="concession" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="unittype" type="xs:string"/>
			<xs:attribute name="personname" type="xs:string"/>
			<xs:attribute name="tenantcode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Denied"/>
						<xs:enumeration value="Leased"/>
						<xs:enumeration value="Prospect"/>
						<xs:enumeration value="Regret"/>
						<xs:enumeration value="ShowOnly"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="quotedrent" type="xs:string"/>
			<xs:attribute name="quotedconcessions" type="xs:string"/>
			<xs:attribute name="prospectcode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moveindate" type="xs:string"/>
			<xs:attribute name="marketsource">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="leasetodate" type="xs:string"/>
			<xs:attribute name="leasefromdate" type="xs:string"/>
			<xs:attribute name="guestcardhmy" type="xs:string"/>
			<xs:attribute name="community">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bedrooms" type="xs:integer"/>
			<xs:attribute name="approvaldate" type="xs:string"/>
			<xs:attribute name="applicationdate" type="xs:string"/>
			<xs:attribute name="YardiStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:attribute name="unit" type="xs:string"/>
			<xs:attribute name="isfirstshow" type="xs:boolean"/>
			<xs:attribute name="isfirstcontact" type="xs:boolean"/>
			<xs:attribute name="eventtype">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="eventtime">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="eventdate" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="concession">
		<xs:complexType>
			<xs:attribute name="description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="amount" type="xs:decimal"/>
			<xs:attribute name="numberoccurances" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="charges">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge">
		<xs:complexType>
			<xs:attribute name="unitid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tenantid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tenanthmyperson" type="xs:string"/>
			<xs:attribute name="incomecodeid" type="xs:string"/>
			<xs:attribute name="incomecode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="community" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unittype">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="chargeto" type="xs:string"/>
			<xs:attribute name="chargeid" type="xs:string"/>
			<xs:attribute name="chargefrom" type="xs:string"/>
			<xs:attribute name="amount" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="amenity">
		<xs:complexType>
			<xs:attribute name="unitid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unithmy" type="xs:string"/>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="community" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="amount" type="xs:decimal"/>
			<xs:attribute name="amenityname">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="amenitycode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="amenities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="amenity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Settings">
		<xs:complexType>
			<xs:attribute name="UseLeasingSpecials">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="UseForRenewalPricing">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="UpdateUnitTypeMarketRent">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="UpdateUnitMarketRent">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MarketRentUpdate">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IdealLeaseTermForMarketRentUpdate" type="xs:integer"/>
			<xs:attribute name="DaysToMakeReady" type="xs:integer"/>
			<xs:attribute name="AllowMarketRentUpdate" type="xs:boolean"/>
			<xs:attribute name="Export18Months" type="xs:boolean"/>
			<xs:attribute name="UseBestRateTermForMarketRentUpdate" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RevenueManagementRawData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ConfigurationOptions" minOccurs="0"/>
				<xs:element ref="GlobalConfiguration"/>
				<xs:element ref="Community"/>
				<xs:element ref="unittypes" minOccurs="0"/>
				<xs:element ref="units" minOccurs="0"/>
				<xs:element ref="amenities" minOccurs="0"/>
				<xs:element ref="tenants" minOccurs="0"/>
				<xs:element ref="unittransfers" minOccurs="0"/>
				<xs:element ref="charges" minOccurs="0"/>
				<xs:element ref="incomecodes" minOccurs="0"/>
				<xs:element ref="guestcards" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="runtime" type="xs:time" use="required"/>
			<xs:attribute name="rundate" type="xs:date" use="required"/>
			<xs:attribute name="plugin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="community" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfigurationOptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ConfigurationOption" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfigurationOption">
		<xs:complexType>
			<xs:attribute name="Description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Applies">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Import"/>
						<xs:enumeration value="Export"/>
						<xs:enumeration value="Import_Export"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Setting">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Property"/>
						<xs:enumeration value="Vendor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="GlobalConfiguration">
		<xs:complexType>
			<xs:attribute name="ExportGuestInfoForModelAndAdminUnits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExportGuestInfoForDownUnits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExportGuestInfoForStabilizedDhcrUnits">
				<xs:annotation>
					<xs:documentation>No longer used, refer to element ConfigurationOptions for this option</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExportAllGuestCards" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExportChargesByMonth" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExportLeaseIds" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Community">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Settings"/>
				<xs:element ref="Address"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="community" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:attribute name="zip" type="xs:string"/>
			<xs:attribute name="state" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="city" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="address" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
