remark_airflow/etl/yardi/xmlschemas/Itf_PropertyConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Jill Smith (Private) -->
<!-- W3C Schema generated by XMLSpy v2016 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="State">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Code"/>
				<xs:element ref="MarketingName"/>
				<xs:element ref="AddressLine1"/>
				<xs:element ref="AddressLine2"/>
				<xs:element ref="AddressLine3"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="PostalCode"/>
				<xs:element ref="AccountsReceivable" minOccurs="0"/>
				<xs:element ref="AccountsPayable" minOccurs="0"/>
				<xs:element ref="OperatingMonth" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PostalCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressLine1" type="xs:string"/>
	<xs:element name="AddressLine2" type="xs:string"/>
	<xs:element name="AddressLine3" type="xs:string"/>
	<xs:element name="MarketingName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccountsReceivable" type="xs:string">
		<xs:annotation>
			<xs:documentation>Only exported in Billing &amp; Payments, Vendor Invoicing, and Resident Data Interfaces</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AccountsPayable" type="xs:string">
		<xs:annotation>
			<xs:documentation>Only exported in Billing &amp; Payments, Vendor Invoicing, and Resident Data Interfaces</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OperatingMonth" type="xs:string">
		<xs:annotation>
			<xs:documentation>Only exported in Billing &amp; Payments, Vendor Invoicing, and Resident Data Interfaces</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
